<%- include('partials/head') %> 

  <%- include('partials/navbar') %> 
  <h1>The Home Page <%= 'hello owrld'.toUpperCase() %> </h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem quidem, quisquam quae sed ducimus exercitationem molestiae ut aspernatur, a saepe porro repellat nam possimus quibusdam, dolor est sit nobis provident!</p>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae fugit, veniam qui quia sequi, similique amet assumenda maiores inventore animi porro quo ducimus perferendis culpa id odio enim obcaecati vero.
  Sed reiciendis quaerat culpa rem officia at quis facilis voluptatibus omnis voluptate! At explicabo, minus voluptatibus aliquid earum, natus eum ab eius rem deleniti, sint distinctio consequatur libero! Minus, maiores?
  Eligendi sapiente commodi doloribus eius quisquam consequatur modi et, ratione ea ipsum voluptatem a consequuntur labore natus eveniet. Provident eligendi laborum ut? Repellendus, alias totam saepe tenetur dolorum est doloribus?</p>

  <%- include('partials/footer') %> 